// 边框
.border {
    border: 0.5px solid rgba(0,0,0,0.25) !important;
    // box-shadow: inset 0px -1px 1px -1px  $lighter !important;
}

.border-none {
    border: 0 none !important;
}

// 支持情景色
@each $key,
$value in $theme_colors {
    .border-#{$key} {
        border-color: $value !important;
    }
}

// none
@each $direction in $directions{
    .border-#{$direction} {
        // box-shadow: inset 0px -1px 1px -1px  $lighter !important;
        border-#{$direction}: 0.5px solid rgba(0,0,0,0.25) !important;
    }

    .border-#{$direction}-none {
        border-#{$direction}: none !important;
    }
}

// 圆角
.border-rounded {
    border-radius: 4px !important;
}
