// 边框
.border {
    border: 1px solid $lightest !important;
}

.border-none {
    border: 0 none !important;
}

// 支持情景色
@each $key,
$value in $theme_colors {
    .border-#{$key} {
        border-color: $value !important;
    }
}

// none
@each $direction in $directions{
    .border-#{$direction} {
        border-#{$direction}: 1px solid $lightest !important;
    }

    .border-#{$direction}-none {
        border-#{$direction}: none !important;
    }
}

// 圆角
.border-rounded {
    border-radius: .25rem !important;
}


