.flex {
    display: flex;
}

.flex-item {
    flex: 1;
    min-width:0;
}

.flex-item--vcenter {
    align-self: center;
}

.flex-item--hcenter {
    justify-self: center;
}

.flex-item--center {
    margin:auto;
}

// new
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction:row-reverse;}


.flex-column{flex-direction:column;}
.flex-column-reverse{flex-direction:column-reverse;}


