// 文字颜色
@each $key, $color in $theme_colors {
    .triangle-#{$key} {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color;
    }

    @each $direction in $directions{
        .triangle-#{$key}-#{$direction} {
            @include triangle(5px, $color, $direction);
        }
    }
}

