// 文字颜色
@each $key, $color in $theme_colors {
    .triangle-#{$key} {
        width: 0;
        height: 0;
        border-left: 0.1rem solid transparent;
        border-right: 0.1rem solid transparent;
        border-top: 0.1rem solid $color;
    }

    @each $direction in $directions{
        .triangle-#{$key}-#{$direction} {
            @include triangle(.1rem, $color, $direction);
        }
    }
}

