.atom-breadcrumb {
    margin: $gutter;
    span {
        font-size: $small;
        display: inline-block;
        color: $darker;
        &.active {
            color: $base;
        }
    }
    span:not(:last-of-type) {
        &:after {
            
            content: '>';
            margin: auto 5px;
        }
    }
}