.atom-carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;

    .item__loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 6;
        opacity: 0;
    }

    .item__zoom-warp {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    img[lazy-src] {
        opacity: 0;
        & + .item__loading {
            opacity: 1;
        }
    }

    img[lazy-status='done'] {
        animation: fadeIn 1000ms;
        & + .item__loading {
            display: none;
        }
    }

    /* 关于一页多张图片加载的逻辑, 慢慢想 */
    /* img:not([lazy-status='done']) {
        & + .item__loading {
            display: inline-block;
        }
    } */
}