.atom-collapse__item {
    position: relative;
    > .item__header {
        display: flex;
        padding: $gutter;
        height: 24px;
        line-height: 24px;
        box-sizing: content-box;
        font-size: $big;
        &--line {
            border-bottom: 1px solid $lightest;
        }
        .header__arrow {
            display: inline-block;
            align-self: center;
            background-size: 100%;
            margin-right: $gutter;
            transition: transform $duration;
            will-change: transform;
            &--open {
                transform: rotate(0);
            }
            &--close {
                transform: rotate(-90deg);
            }
        }
    }
    > .item__body {
        padding: 0 $gutter $gutter $gutter;
        overflow: hidden;
        line-height: 1.5;
    }
    .item__header--line + .item__body {
        padding: $gutter;
    }
    &:not([is-unfolded]) {
        .item__header--line {
            border-bottom: 0 none;
        }
    }
}