.atom-dialog {
    position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 4px;
    background: rgba($background,1);
    box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
    &-top {
        top: 20%;
    }
    &-bottom {
        bottom: 12%;
    }


    &-center{
        top:50%;
        transform: translateY(-50%);
    }

    &__header {
        padding: $gutter $gutter 0 $gutter;
        overflow: hidden;
        font-size: $bigger;
    }
    &__body {
        padding: $gutter;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 61.8vh;
        min-height:80px;
        font-size: $big;
    }
}