.atom-drawer {
    position: relative;
    overflow: hidden;
    height: 100%;
    &__side {
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        z-index: $drawerZIndex;
        background: $background;
        display: block;
        overflow: hidden;
        max-width: 80%;
        height: 100%;
        will-change: transform;
        &--left {
            left: 0;
            transform: translateX(-100%);
        }
        &--right {
            right: 0;
            transform: translateX(100%);
        }
    }

    &__main {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        flex: 1 0 100%;
        min-width: 0;
        height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
        .main__handler {
            height: calc(100% - 120px); // 减去头部和尾部高度
            position: absolute;
            z-index: $drawerZIndex;
            background: rgba(0, 0, 0, 0);
            top:60px;
            &--left {
                left: 0;
            }
            &--right {
                right: 0;
            }
        }
    }
}