.atom-loading {
    position: fixed;
    z-index: $loadingZIndex;
    display: flex;
    justify-content: center;
    
    &__body {
        border-radius: $radius;
        align-self: center;
        background: rgba(#000, .8);
        padding: $gutter;
        box-shadow: $shadowDown;
        > .body__text {
            text-align: center;
            color: $black;
            font-size: $normal;
            margin-top: $gutter;
        }
    }
}