.atom-mask {
    z-index: $maskZIndex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.618);
    &__icon-close {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: $gutter*2;
        margin: auto;
        color: $sub;
        border: 1px solid $sub;
        border-radius: 50%;
        padding: $gutter/2;
    }
}