.atom-picker {
    position: relative;
    overflow: hidden;
    display: flex;

    &__mask {
        pointer-events: none;
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
        background-position: top, bottom;
        background-size: 100% 102px;
        background-repeat: no-repeat;
    }

    &__graticule {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        box-shadow: $shadowUp, $shadowDown;
    }
    &__list {
        flex: 1;
        box-sizing: border-box;

    }
    &__item {
        box-sizing: border-box;
        width: 100%;
        display: block;
        text-align: center;
        color: $darkest;
        font-size: $big;
        &--active {
            font-size: $big;
        }
    }
}