@mixin button() {
    user-select: none;
    text-align: center;
    font-size: $bigger;
    padding: $gutter $gutter;
}

.atom-popup-picker {
    header {
        overflow: hidden;
        border-bottom: 1px solid $lightest;
        display: flex;
        .button-cancel {
            @include button;
            text-align: left;
            color: $light;
            flex: 1;
            font-size: $big;
        }
        .title {
            font-size: $big;
            color: $black;
            font-weight: bold;
        }
        .button-ok {
            @include button;
            text-align: right;
            color: $black;
            flex: 1;
            font-size: $big;
        }
    }
}