.atom-progress-circle {
    position: relative;
    svg {
        g {
            .backdrop {
                stroke: $lightest;
            }
            .progress {
                stroke: $primary;
                transition-property: stroke-dasharray;
            }
        }
        text {
            fill: $primary;
        }
    }
    &__slot {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        > * {
            text-align: center;
        }
    }
}