$radioSize: 20px;
label.atom-radio {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    &--reverse {
        .atom-radio__title {
            order: 1;
            margin-left: $gutter;
            text-align: right !important;
        }
    }
    >.atom-radio__title {
        flex: 1;
        font-size: $normal;
    }

    >input{opacity: 0;display: none;}

    .atom-radio__appearance--android{
        position: relative;
        display: block;
        height: $radioSize;
        width:$radioSize;
        border-radius: $radioSize;
        border: 2px solid transparent;
        overflow: hidden;
        transition: border $duration;
        &:after{
            position: absolute;
            content: '';
            display: block;
            width: round($radioSize/2);
            height: round($radioSize/2);
            top:0;left:0;right: 0;bottom:0;margin:auto;
            border-radius: 100%;
            background: $primary;
            transition: transform $duration;
        }
    }

    // 选中
    >input:checked{
        &+.atom-radio__appearance--android {
            border-color: $primary;
            
            &:after{
                transform: scale(1);
            }
        }
    }


    // 未选中
    >input:not(:checked) {
        &+.atom-radio__appearance--ios {
            // display: none;
            transform: scale(0);
        }

        &+.atom-radio__appearance--android {
            border-color: $dark;
            &:after{
                transform: scale(0);
            }
        }
    }
}


// 多配色
@each $key, $value in $theme_colors {

}