$radioSize: 0.5rem;
label.atom-radio {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    &--reverse {
        .atom-radio__title {
            order: 1;
            margin-left: $gutter;
        }
    }
    >.atom-radio__title {
        flex: 1;
        font-size: $normal;
        text-align: justify;
    }

    >input {
        &+.atom-radio__appearance {
            display: flex;
            width: $radioSize;
            height: $radioSize;
            border-radius: 100%;
            &:after {
                content: ' ';
                display: none;
                animation: zoom-in 500ms;
            }
        }
        &:disabled+.atom-radio__appearance {
            border: 1px solid $disabled;
            background: $lightest;
        }
    }
    >input:checked {
        &+.atom-radio__appearance {
            display: flex;
            width: $radioSize;
            height: $radioSize;
            border-radius: 100%;
            &:after {
                content: ' ';
                align-self: center;
                margin: auto;
                display: block;
                width: $radioSize/2;
                height: $radioSize/2;
                border-radius: 100%;
            }
        }
        &:disabled+.atom-radio__appearance {
            border: 1px solid $disabled;
            background: $lightest;
            &:after {
                background: $light;
            }
        }
    }
    @keyframes zoom-in {
        0% {
            opacity: 0;
            transform: scale(0.8);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@each $key, $value in $theme_colors {
    .atom-radio--#{$key} {
        >.atom-radio__title {
            &.active {
                color: $value;
            }
        }

        >input {
            &+.atom-radio__appearance {
                border: 1px solid $value;
            }

        }
        >input:checked {
            &+.atom-radio__appearance {
                border: 1px solid $value;
                &:after {
                    background: $value;
                }
            }
            
        }
    }
}