.atom-rate {
    display: flex;
    > .svg-icon {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 1;
    }

    &:not([readonly]) {
        > .svg-icon {
            transition: transform $duration, background $duration;
            &:active {
                transform: scale(0.618);
            }
        }
    }
}