.atom-spinner-android{
    >circle {
        display: inline-block;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        /* 由于scoped会给属性改名, 如果写2个动画名, vue不会给第二个动画名改名 */
        /* animation: color 6s ease-in-out infinite, dash 1.5s ease-in-out infinite;  */
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
            /* stroke: $success; */
        }

        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
            /* stroke: $warning; */
        }
    }
}


@each $key, $value in $theme_colors {
    .atom-spinner-android--#{$key} {
        >circle{
            stroke: $value;
        }
    }
}