$spinnerRippleSize: .6rem;
.atom-spinner-ripple {
    display: inline-block;
    width: $spinnerRippleSize;
    height: $spinnerRippleSize;
    border-radius: 100%;
    animation: ripple 1s 0s ease-in-out infinite;
}

@each $key, $value in $theme_colors {
    .atom-spinner-ripple--#{$key} {
        background: $value;
    }
}


@keyframes ripple {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}