.atom-textarea {
    background: $white;
    >textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: $gutter/2 $gutter;
        height: 28px;
        outline: none;
        resize: none;
        border: 0 none;
        resize: none;
        background: transparent;
        font-size: $normal;
        word-break: break-all;
        word-wrap: break-word;
    }
    &__prompt{
        padding: $gutter;
        text-align: end;
        font-size: $normal;
        >span{color: $base;font-size: inherit;}
    }
}