.atom-textarea {
    background: $white;
    display: flex;
    align-items: center;
    >textarea {
        display: block;
        flex:1;
        box-sizing: border-box;
        padding: $gutter/2 $gutter;
        height: 28px;
        outline: none;
        resize: none;
        border: 0 none;
        resize: none;
        background: transparent;
        font-size: $normal;
        word-break: break-all;
        word-wrap: break-word;
    }
}