.atom-toast {
    position: fixed;
    display: flex;
    z-index: $toastZIndex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    &__box {
        margin: auto;
        text-align: center; // word-break: keep-all;
        color: $sub;
        border-radius: $borderRadius;
        padding: $gutter;
        background: rgba($black, 0.8);
        // box-shadow: 0 1px 6px rgba(0, 0, 0, 1);
    }
}