
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502874599164'); /* IE9*/
  src: url('iconfont.eot?t=1502874599164#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502874599164') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502874599164') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502874599164#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-delete:before { content: "\e69d"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-search:before { content: "\e6ac"; }

.icon-set:before { content: "\e6ae"; }

.icon-warning:before { content: "\e6b6"; }

.icon-add:before { content: "\e6b9"; }

.icon-filter:before { content: "\e6f1"; }

