.ripple-container {
    position: absolute;
    top:0;right: 0;left:0;bottom: 0;z-index: 1;
    overflow: hidden;
    -webkit-appearance: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    .ripple{
        position: relative;
        transition-timing-function: ease-in-out;
        &--ready {
            transform: scale(0);
        }
        &--move {
            background: currentColor;
            transition-property: transform, opacity;
            transform: scale(1);
        }
    }
}