*{margin:0;padding:0;box-sizing: border-box;
    // &:before{
    //     box-sizing: border-box;
    // }
    // &:after{
    //     box-sizing: border-box;
    // }
}
[v-cloak] {
    display: none;
}
@import '_variables.scss';
@import '_mixin.scss';
@import '_function.scss';
@import '_reset.scss';

@import 'helpers/_display';
@import 'helpers/_flex.scss';
@import 'helpers/_margin.scss';
@import 'helpers/_padding.scss';
@import 'helpers/_text.scss';
@import 'helpers/_background.scss';
@import 'helpers/_table.scss';
@import 'helpers/_border.scss';
@import 'helpers/_list.scss';

// 组件
@import 'components/_collapse.scss';
@import 'components/_loading.scss';
@import 'components/_button.scss';