@import './variables.scss';
@import './mixin.scss';
@import './reset.scss';
@import './animate.scss';
@import './helpers.scss';
[v-cloak] {
    display: none;
}
html {
    font-size: 16px;
    // direction: rtl; 
}
body {
    font-size: 16px;
}

