@import './variables.scss';
@import './mixin.scss';
@import './function.scss';
@import './reset.scss';
@import './animate.scss';
@import './helpers.scss';
@import './components.scss';
@import '../directives/ripple/ripple.scss';

[v-cloak] {
    display: none;
}
html {
    font-size: 16px;
    overflow-x: hidden;
    // direction: rtl; 
}
body {
    font-size: 16px;
    overflow-x: hidden;
}

