@import './theme.scss';
@import './mixin.scss';
// @import "./font.scss";
@import './reset.scss';
@import './animate.scss';
@import './helpers.scss';
@import '../scss/ripple.scss';
[v-cloak] {
    display: none;
}
html {
    font-size: 16px;
}
body {
    font-size: 16px;
}