.clearfix {
    overflow: hidden;
    &:after {
        content: ' ';
        clear: both;
    }
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.flex {
    display: flex;
}

.flex-item {
    flex: 1;
}

.flex-item--vcenter {
    align-self: center;
}

.flex-item--hcenter {
    justify-self: center;
}

.flex-item--center {
    justify-self: center;
    align-self: center;
}

[v-cloak] {
    display: none;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    border-top: 0.1rem solid $base;
}

.full-screen,
.fill-full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

/*
* 间距/缝隙/槽: gutter
*/
.gutter {
    margin: $gutter;
}

@each $direction in top, left, right, bottom {
    .gutter-#{$direction} {
        margin-#{$direction}: $gutter;
    }
}
/*
* 间距/缝隙/槽(小): gutter
*/
.gutter-sm {
    margin: $gutter/2;
}

@each $direction in top, left, right, bottom {
    .gutter-#{$direction}-sm {
        margin-#{$direction}: $gutter/2;
    }
}

/*
* 边框: border
*/
.border {
    border: 1px solid $lightest;
}
.border-none {
    border: 0 none;
}
@each $direction in top, left, right, bottom {
    .border-#{$direction} {
        border-#{$direction}: 1px solid $lightest;
    }
}
/*
* 内边距: padding/fill
*/
.padding,
.fill {
    padding: $gutter;
}

@each $direction in top, left, right, bottom {
    .padding-#{$direction},
    .fill-#{$direction} {
        padding-#{$direction}: $gutter;
    }
}
/*
* 内边距(小): padding/fill
*/
.padding-sm,
.fill-sm {
    padding: $gutter/2;
}
@each $direction in top, left, right, bottom {
    .padding-#{$direction}-sm,
    .fill-#{$direction}-sm {
        padding-#{$direction}: $gutter/2;
    }
}

@each $key, $value in $theme_colors {
    .text-#{$key} {
        color: $value;
    }

    small.text-#{$key} {
        font-size: $small;
    }
}

@each $key, $value in $font_sizes {
    .font-#{$key} {
        font-size: $value;
    }
}

.ovh {
    overflow: hidden;
}
.ovxh {
    overflow-x: hidden;
}
.ovyh {
    overflow-y: hidden;
}

.radius {
    border-radius: $borderRadius;
}

.text-center{
    text-align: center;
}