@mixin ellipsis($row_count: 1) {
    @if $row_count <= 1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $row_count;
        -webkit-box-orient: vertical;
    }
}