* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-appearance: none; // text-rendering: optimizeLegibility;
    &:after,
     :before {
        box-sizing: border-box;
    }
}

a,
p,
div,
span,
section,
main {
    font-size: $normal;
}

html {
    width: 100%;
}

body {
    width: 100%;
    -webkit-text-size-adjust: none;
}

li {
    list-style: none;
}

input {
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
    color: $darkest;
    font-size: inherit;
}

p {
    color: $darkest;
    font-size: inherit;
    line-height: 1.5;
}

img {
    display: block;
    border: 0 none;
}

h1 {
    font-size: $large;
    color: $darkest;
}

h2 {
    font-size: $biggest;
    color: $darkest;
}

h3 {
    font-size: $bigger;
    color: $darkest;
}

h4 {
    font-size: $big;
    color: $darkest;
}

h5 {
    font-size: $normal;
    color: $darkest;
}

h6 {
    font-size: $small;
    color: #333;
}

small {
    color: $dark;
    margin: $gutter / 3 0;
    font-size: $small;
}

button {
    background: transparent;
    user-select: none;
    -webkit-appearance: none;
    outline: none;
    border: 0 none;
    font-size: $normal;
}

// 
[v-cloak] {
    display: none;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}

table {
    width: 100%;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid $lightest;
        width: 100%;
        height: 0.8rem;
    }
}

dl {
    dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    dd {
        margin-left: 180px;
        clear: both;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

// ::-webkit-scrollbar {
//     background: #ccc;
//     width: 4px;
//     height: 4px;
// }
// ::-webkit-scrollbar-thumb {
//     background: #f10;
// }
// ::-moz-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }
// ::-moz-scrollbar-thumb {
//     background: #fff;
// }
// ::-ms-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }
// ::-ms-scrollbar-thumb {
//     background: #fff;
// }