@import './theme.scss';
@import './font.scss';
* {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', 'Microsoft Yahei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  font-size: $normal;
}

// 设计稿宽度
// $designWidth: 750px;
// @mixin adapt($min, $max, $designWidth) {
//     @media (min-width: $min) and (max-width: $max) {
//         html {
//             font-size: 100px * $max / $designWidth;
//         }
//     }
// }
// @include adapt(376px, 414px, $designWidth);
// @include adapt(361px, 375px, $designWidth);
// @include adapt(321px, 360px, $designWidth);
// @include adapt(0px, 320px, $designWidth);
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-text-size-adjust: none;
}

li {
  list-style: none;
}

input {
  border: 0 none;
  outline: none;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  color: $darkest;
}

img {
  display: block;
  border: 0 none;
}

.clearfix {
  clear: both;
  &:after {
    content: ' ';
    clear: both;
  }
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

h1 {
  font-size: $large;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

h2 {
  font-size: $biggest;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

h3 {
  font-size: $bigger;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

h4 {
  font-size: $big;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

h5 {
  font-size: $normal;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

h6 {
  font-size: $small;
  margin: $gutter / 3 0;
  font-weight: 400;
  color: #333;
}

small {
  color: $dark;
  margin: $gutter / 3 0;
  font-size: $small;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: 0 none;
  font-size: $big;
}

// ::-webkit-scrollbar {
//     background: #ccc;
//     width: 4px;
//     height: 4px;
// }
// ::-webkit-scrollbar-thumb {
//     background: #f10;
// }
// ::-moz-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }
// ::-moz-scrollbar-thumb {
//     background: #fff;
// }
// ::-ms-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }
// ::-ms-scrollbar-thumb {
//     background: #fff;
// }
[v-cloak] {
  display: none;
}

.triangle {
  width: 0;
  height: 0;
  border-left: .1rem solid transparent;
  border-right: .1rem solid transparent;
  border-top: .1rem solid $base;
}

.list {
  >header {
    border-bottom: 1px solid $light;
  }
  >section {
    border-bottom: 1px solid $light;
  }
}

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// 懒加载动画
// img[lazy="loading"] {}
img[lazy="done"] {
  animation: zoomIn 1s;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-success {
  color: $success !important;
  font-size: inherit;
}

.text-warning {
  color: $warning !important;
  font-size: inherit;
}

.text-danger {
  color: $danger !important;
  font-size: inherit;
}

.text-info {
  color: $info !important;
  font-size: inherit;
}

.header-title {
  border-bottom: 1px solid $lightest;
  padding: $gutter;
  font-size: $big;
  color: $darkest;
}

// 按钮
.button-success {
  background: $success !important;
  color: $sub;
  font-size: $normal;
}

.button-warning {
  background: $warning !important;
  color: $sub;
  font-size: $normal;
}

.button-danger {
  background: $danger !important;
  color: $sub;
  font-size: $normal;
}

.button-info {
  background: $info !important;
  color: $sub;
  font-size: $normal;
}

.button-block {
  display: block;
  width: 100%;
  height: 1rem;
}

.row {
  padding: $gutter/ 3 $gutter;
}

.swiper-pagination-bullet-active {
  background: $base !important;
}

.divider {
  height: 1px;
  background: $lightest;
  width: 100%;
  margin: $gutter auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.tag-success {
  display: inline-block;
  padding: $gutter / 6 $gutter /2;
  background: $success;
  color: $sub;
  margin-right: $gutter;
  margin-top: $gutter;
}
