* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', 'PingFang SC', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$designWidth: 750px;
@mixin adapt($min, $max, $designWidth) {
    @media (min-width: $min) and (max-width: $max) {
        html {
            font-size: 100px * $max / $designWidth;
        }
    }
}

@include adapt(376px, 414px, $designWidth);
@include adapt(361px, 375px, $designWidth);
@include adapt(321px, 360px, $designWidth);
@include adapt(0px, 320px, $designWidth);
html {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-text-size-adjust: none;
}


li {
    list-style: none;
}

input {
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
}

a,
p,
td,
div,
span {
    font-size: .14rem;
}

img {
    display: block;
}

.clearfix {
    clear: both;
}

// ::-webkit-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }

// ::-webkit-scrollbar-thumb {
//     background: #fff;
// }

// ::-moz-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }

// ::-moz-scrollbar-thumb {
//     background: #fff;
// }

// ::-ms-scrollbar {
//     background: #fff;
//     width: 0;
//     height: 0;
// }

// ::-ms-scrollbar-thumb {
//     background: #fff;
// }

[v-cloak] {
    display: none;
}


/*动画*/

.fade-left-enter-active {
    animation: fade-left-in .2s;
}

.fade-left-leave-active {
    animation: fade-left-out .2s;
}

@keyframes fade-left-in {
    0% {
        opacity: 0;
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5px);
    }
}


/*fadeLeft*/

.fadeLeft-enter-active {
    animation: fadeLeftIn .3s ease-in-out;
}

.fadeLeft-leave-active {
    animation: fadeLeftOut .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes fadeLeftIn {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeLeftOut {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}


/*动画*/

.slide-right-enter-active {
    animation: slide-in-right .3s ease-in-out;
}

.slide-right-leave-active {
    animation: slide-out-right .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.swiper-pagination-bullet {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000;
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
