.ripple-container {
    .ripple {
        animation: ripple 2000ms forwards cubic-bezier(0, 0, 0.2, 1);
    }
}
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
