.ripple-container {
    -webkit-appearance: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    .ripple {
        animation: ripple 500ms forwards ease-in-out;
        // cubic-bezier(0, 0, 0.2, 1)
        animation-fill-mode: forwards;
    }
}
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
