// 主色
// $base: #1fbab1;
$base: #ed4949;

// 辅色
$sub: #fff;

// 禁用色
$disabled: #ccc;

// 背景色
$background: #fff;
// 浅灰
$light: #aaa9ae;
$lighter: #ddd;
$lightest: #eee;
// 深灰
$dark: #a8a8a8;
$darker: #6a6a6a;
$darkest: #3a3a3a;
// 彩色
$default: #ddd;
$primary: #3680bf;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #f44336;
$info: #2db7f5;

// 间隙
$gutter: 5px;

// 最小高度
$minHeight: .5rem;

// 圆角
$borderRadius: 5px;

// z-index管理
$tabBarZIndex: 10;
$dropDownZIndex: 20;
$maskZIndex: 1986;
$dialogZIndex: 2000;
$sideBarZIndex: 1989;
$toastZIndex: 2010;

//字体大小
$small: 12px;
$normal: 14px;
$big: 16px;
$bigger: .3rem;
$biggest: .4rem;
$large: .5rem;
// 阴影
$shadowUp: 1px -1px 3px rgba(0, 0, 0, .1);
$shadowDown: 1px 1px 3px rgba(0, 0, 0, .1);

// 底部tab高度
$bottomTabHeight: 60px;

@mixin theme($type) {
	@if 'default' == $type {
		color: $dark;
		background: $default;
	}
	@else if 'success' == $type {
		color: #fff;
		background: $success;
	}
	@else if 'info' == $type {
		color: #fff;
		background: $info;
	}
	@else if 'warning' == $type {
		color: #fff;
		background: $warning;
	}
	@else if 'danger' == $type {
		color: #fff;
		background: $danger;
	}
	@else if 'primary' == $type {
		color: #fff;
		background: $primary;
	}
}

@mixin disabled() {
	background: $lighter;
	color: $light;
}
