// 主色
$base: #444;

$white: #fff;
// 辅色
$sub: $white;
// 禁用色
$disabled: #ccc;
// 背景色
$background: $white;

// 浅灰
$light: #aaa9ae;
$lighter: #ddd;
$lightest: #eee;

// 深灰
$dark: #888;
$darker: #6a6a6a;
$darkest: #000;

// 彩色
$primary: $base;
$success: #50d185;
$warning: #fa0;
$danger: #e60044;
$info: #2db7f5;

$theme_colors: (
    default: $white,
    primary: $base,
    success: $success,
    warning: $warning,
    danger: $danger,
    info: $info,
    dark: $dark,
    darker: $darker,
    darkest: $darkest,
    light: $light,
    lighter: $lighter,
    lightest: $lightest,
);

// 间隙
// $gutter: 5px;
$gutter: 0.3rem;
// 最小高度
$minHeight: 0.5rem;
// 圆角
$borderRadius: 4px;
$radius: 4px;

// z-index管理
$tabBarZIndex: 10;
$affixZIndex: 20;
$dropDownZIndex: 20;
$headerZIndex: 1000;
$footerZIndex: 1000;

$popperZIndex: 1960;
$maskZIndex: 1986;
$sideBarZIndex: 1989;
$dialogZIndex: 2000;
$toastZIndex: 2010;
$drawerZIndex: 3000;
$loadingZIndex: 9999;

//字体大小
$small: 12px;
$normal: 14px;
$big: 16px;
$bigger: 18px;
$biggest: 24px;
$large: 28px;

$font_sizes: (
    small: $small,
    normal: $normal,
    big: $big,
    bigger: $bigger,
    biggest: $biggest,
    large: $large
);

// 阴影
$shadowUp: 0 -1px 6px rgba(0, 0, 0, 0.1);
$shadowDown: 0 1px 6px rgba(0, 0, 0, 0.1);
// 底部tab高度
$bottomTabHeight: 60px;
$duration: 300ms;

// @mixin theme($type) {
//     @if 'default'==$type {
//         color: $dark;
//         background: $default;
//     } @else if 'success'==$type {
//         color: #fff;
//         background: $success;
//     } @else if 'info'==$type {
//         color: #fff;
//         background: $info;
//     } @else if 'warning'==$type {
//         color: #fff;
//         background: $warning;
//     } @else if 'danger'==$type {
//         color: #fff;
//         background: $danger;
//     } @else if 'primary'==$type {
//         color: #fff;
//         background: $primary;
//     }
// }

// @mixin disabled() {
//     background: $lighter;
//     color: $light;
// }
