// 主色
$base: #e60044 !default;
// 辅色
$sub: #fff !default;


// 白色
$white: #fff !default;

// 禁用色
$disabled: #ccc !default;
// 背景色
$background: $white !default;

// 浅灰
$light: #CCC !default;
$lighter: #DDD !default;
$lightest: #F3F3F3 !default;

// 深灰
$dark: #AAA !default;
$darker: #7F7F7F !default;
$darkest: #555 !default;

// 黑色
$black: #000 !default;

// 彩色
$primary: $base !default;
$success: #1FC055 !default;
$warning: #FFAB32 !default;
$danger: #FF1834 !default;
$info: #0076FF !default;

$theme_colors: (
    default: $white,
    primary: $base,
    success: $success,
    warning: $warning,
    danger: $danger,
    info: $info,
    dark: $dark,
    darker: $darker,
    darkest: $darkest,
    light: $light,
    lighter: $lighter,
    lightest: $lightest,
    white: $white,
    black: $black
);

$borderColor: rgba(0,0,0,0.25);