// 主色
$base: #e60044 !default;

$white: #fff;
// 辅色
$sub: $white;
// 禁用色
$disabled: #ccc;
// 背景色
$background: $white;

// 浅灰
$light: #AAA;
$lighter: #DDD;
$lightest: #EEE;

// 深灰
$dark: #888;
$darker: #6a6a6a;
$darkest: #000;

// 彩色
$primary: $base;
$success: #1FC055;
$warning: #FC7212;
$danger: #E60044;
$info: #0076FF;

$theme_colors: (
    default: $white,
    primary: $base,
    success: $success,
    warning: $warning,
    danger: $danger,
    info: $info,
    dark: $dark,
    darker: $darker,
    darkest: $darkest,
    light: $light,
    lighter: $lighter,
    lightest: $lightest,
    white: #fff
);
