//字体大小
$small: 12px;
$normal: 14px;
$big: 16px;
$bigger: 18px;
$biggest: 24px;
$large: 28px;
$font_sizes: (
    small: $small,
    normal: $normal,
    big: $big,
    bigger: $bigger,
    biggest: $biggest,
    large: $large
);